.box{
    border: 2px solid black;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    margin: auto;
    transition: transform 2s;

}
.box:hover {
    transform: rotateY(320deg);

}